demo/takahashi_mock_example/*.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_2_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_10_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_8_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_16_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_17_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_20_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_23_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_25_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_11_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_13_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_21_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_26_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_4_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_6_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_7_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_15_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_18_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_24_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_5_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_12_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_14_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_19_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_3_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_9_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/k_1024_21.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_1_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/takahashi_mock_example/lens_layer_22_1024.fits filter=lfs diff=lfs merge=lfs -text
demo/*.npy filter=lfs diff=lfs merge=lfs -text
